body {
    background-color: #64B5F6;
}

.img-box {
    background-color: #BBDEFB;
    border-bottom: 10px solid #2196F3;
    animation-name: color;
    animation-duration: 6s;
    animation-delay: 1s;
}

@keyframes color {
    0% {
        background-color: #BBDEFB;
    }
    25% {
        background-color: #78909C;
    }
    50% {
        background-color: #607D8B;
    }
    75% {
        background-color: #78909C;
    }
    100% {
        background-color: #BBDEFB;
    }
}

#image {
    margin: 0px 40px 0px 40px;
    position: relative;
    animation-name: slide;
    animation-duration: 6s;
    animation-delay: 1s;
}

hr {
    border-top: 1px solid rgba(96, 125, 139, 0.7)
}

@keyframes slide {
    0% {
        left: 0px;
        top: 0px;
    }
    45% {
        left: 400px;
        top: 0px;
    }
    55% {
        left: 400px;
        top: 0px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}

table#table-1 {
    border-collapse: collapse;
    background-color: aliceblue;
    margin-top: 30px;
}

table,
th,
td {
    border: 1px solid #000000;
    height: 30px;
}
